body {
  
    /* color: #c6d03a; */
    text-decoration: none;
    padding: 0%;
    margin: 0%;
  }
  p{
  margin: 0;
  padding: 0;
  line-height: 1.5em;
  font-size: 1em;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #333;
  text-shadow: none;
  background: none;
  }
  
  /* H TAGS */
  
  /* h1 {
    font-size: 3em;
    color: FF2C00;
    align: center;
  }
  h1 {
    background-color: black;
    color: white;
  } */
  h1{
    background-color: rgb(15, 53, 137);
    font-size: 100px;
    color: rgb(161, 24, 24);
    margin: 0px;
    width: 100%;
  }